.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(181, 181, 184);
}

h1 {
    text-align: center;
    background: rgb(160, 207, 250);
    color: rgb(0, 6, 59);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.spēles_lauk {
    background: rgb(0, 0, 0);
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.Bloks {
    background: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 45px;
    display: flex;
    border-radius: 5px;
}
