<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="ietvars"><!--pelekais laukums-->
        <div class="galviene"><!--virsraksts un izvēlne-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par</a></li>
            </ul>

        </div><!--aizver virsraksts un izvēlne-->
        <div class="saturs"><!--saturs-->
            Par projektu
        </div><!--aizver saturs-->

    </div><!--aizver pelekais laukums-->
    
</body>
</html>