<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un izvēlne-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par</a></li>
            </ul>
  
        </div><!-- aizver virsraksts un izvēlne-->
        <div class="saturs"><!--saturs-->
            <div class="hud">
                <p><b>Spēlētājs:</b> <spam id="vardsHUD"></spam></p>
                <p><b>Klikšķi:</b> <spam id="klikski">0</spam> &nbsp; | &nbsp; <b>Laiks:</b> <spam id="laiks">00:00</spam></p>
            </div>
            <div class="spēles_lauk"><!--spēles laukums-->
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                <div class="Bloks">
                    <div></div>
                </div>
                
                
            </div><!--aizver speles laukumu-->
        </div><!--aizver saturs-->

    </div><!-- aizver pelēkais laukums-->
    <script src="/static/spele.js"></script>
    
</body>
</html>